<% if @event %>
  <form action="/" method="post" id="generate" class="invitation">
  	<fieldset>
  		<legend>Your invitation: Id = <%= @id_invitation %></legend>
	    <input type="hidden" name="_method" value="put">
	    <div>
	    	<p>Title: <%= @event.title %></p>
	    	<p>Subject: <%= @event.subject %></p>
	    	<p>Speakers: <%= @event.speaker %></p>
	    	<p>Place: <%= @event.place %></p>
	    	<p>Date: <%= @event.date %></p>
	    </div>     
	    <input type="submit" class="input_as_button" value="Ok">   	
    </fieldset>
  </form>
<% else %>
  <p>event not found.</p>
<% end %>